
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    background-color: #fff;
}
.upper-nav{
    display: flex;
    height: 30px;
 
    justify-content: space-between;
    background-color: #212529;
color: white;
align-items: center;
padding: 0 10px;

}


.social-midia ul{
    display: flex;
    margin: 0;
    gap: 15px;
}
.social-midia ul li{
    list-style: none;
}
.call ul{
    display: flex;
    margin: 0;
    gap: 15px;
}
.call ul li{
list-style: none;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.logo img{
    width: 200px;
}
.full-nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;

    
}
.nav-link  ul{
    display: flex;
    gap: 25px;
}
.nav-link ul li{
    list-style: none;
    color: gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 15px;
}
.sub-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: url(/assets/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
}
.comp{
    display: flex;
    flex-direction: column;
   
    padding: 30px 19px;
    width: 338px;
    text-align: justify;
}
.comp h2{
    font-size: 1.3rem;
}
.comp li{
    font-size: .9rem;
    list-style: none;
    text-decoration: none;
    padding: 10px 0;
}
.comp ul{
    padding: 0;

}
.reach{
    display: flex;
    flex-direction: column;
    padding: 27px 19px;
    width: 402px;
    text-align: justify;
}
.reach ul{
    padding: 0;
}
.reach li{
    list-style: none;
    text-decoration: none;
    font-size: .9rem;
    padding: 6px 0;
 
}
.reach h2{
    font-size: 1.3rem;
}
.reach i{
    padding: 0 5px;
}
.footer{
    margin: 0;
    padding: 10px 0;
    background: #202020;
     color: white;
}
.footer h3{
    font-size: .9rem;
    text-align: center;
}

nav.phone{
    display: none;
}





.about-us{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 109px;
    padding: 10px;
}


.txt-abt p{
    font-size: .9rem;
}



@media only screen and (max-width: 660px){


    nav.lap{
        display: none;
    }
    nav.phone{
        display: flex;
    
    }
    .navbar-brand{
        width: 170px;
    }
    .navbar-brand img{
        width: 100%;
    }

.about-us{
    flex-direction: column;
    padding: 0;
  
}
.img-abt img{width: 100%;}
.txt-abt{
    text-align: justify;
    padding: 10px;
}






}